<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" dir="ltr" lang="hu">
    <head>
        <title>Magyarországi Web Konferencia 2014 | Magyarországi Web Konferencia</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <link type="text/css" rel="stylesheet" media="all" href="assets/main.css">
        <script src="assets/main.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="header-top">
                <h1 id="logo">
                    <a href="">
                        <img src="assets/img/logo.png" alt="Magyarországi Web Konferencia">
                    </a>
                </h1>
            </div>
            <div id="header-bottom">
                <div id="navigation">
                    <ul class="links primary-links">
                        <li><a href="kapcsolat" title="Egyéb kérdéssel, kéréssel itt lehet elérni minket.">Kapcsolat</a></li>
                        <li><a href="tamogatoink" title="Támogatóink">Támogatóink</a></li>
                        <li><a href="helyszin" title="">Helyszín</a></li>
                        <li><a href="program" title="">Program</a></li>
                        <li class="last active"><a href="index" title="" class="active">Főoldal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="body-wrapper">
            <div id="main">
                <div id="content">
                    <div class="breadcrumb">
                        <a href="index">Címlap</a> » <a href="idogep">Rendezvények</a>
                    </div>
                    <div class="clear-block">
                        <div class="node clear-block">
                            <div class="content">
                                <div>
                                    <p class="quote">
                                        Egy nap, ahol mindent megtudhattok az aktuális a webes trendekről, technológiákról, tippekről, trükkökről.
                                    </p>
                                    <p>
                                        Az egész napos konferencia célja, hogy kezdőknek és profiknak egyaránt
                                        útmutatást nyújtson a legújabb webes trendek és technológiák
                                        útvesztőjében, legyenek bár fejlesztők, grafikusok vagy azok, akik
                                        kettejüket összehozzák.
                                    </p>
                                    <dl id="locator">
                                        <dt>Időpont</dt>
                                        <dd>2014. november 8., szombat</dd>
                                        <dt>Helyszín</dt>
                                        <dd><a href="helyszin">Óbudai Egyetem, 1034 Budapest, Bécsi út 96/B</a></dd>
                                    </dl>
                                    <p>
                                        A konferencia programja a <a href="program"> program </a> menüpont alatt elérhető. A konferencián való részvétel ingyenes, de regisztrációhoz kötött. A részvételi szándékot a <a href="reszveteli-regisztracio">regisztráció</a> menüpont alatt lehet felénk jelezni
                                    </p>
                                    <p>
                                        Magánszemélyek, cégek és egyéb jogi személyek részére támogatási
                                        konstrukciókat kínálunk, amellyel a rendezvény megvalósítását
                                        segíthetik. A részletekért <a href="kapcsolat">lépj kapcsolatba a szervezőkkel.</a>
                                    </p>
                                    <p>
                                        <a href="https://twitter.com/webkonf">Kövess minket</a> és szólj másoknak, <a href="http://yamm.hu/tag/webkonf">csiripelj</a> magad is, írd meg a <a href="https://www.facebook.com/groups/686316804718919/">faladra</a>, bökd meg a melletted ülőt!
                                    </p>
                                    <p>
                                        Ha kérdésed, kérésed vagy észrevételed lenne <a href="kapcsolat">írj nekünk</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar-right">
                    <div class="block">
                        <div class="content">
                            <div id="sponsors">
                                <div id="organizer">
                                    <h2>
                                        <span></span>
                                        Szervező
                                    </h2>
                                    <p>
                                        A Magyar Webért Egyesület és az Óbudai Egyetem
                                    </p>
                                </div>
                                <div id="sponsor">
                                    <h2>
                                        <span></span>
                                        Támogatók
                                    </h2>
                                    <p>
                                        <a href="http://www.uni-obuda.hu/"> <img src="assets/img/sponsors/oe.png" alt="OE" title="OE" class="arany"></a><br>
                                        <a href="http://www.njszt.hu/"> <img src="assets/img/sponsors/njszt_logo.png" alt="NJSZT" title="NJSZT" class="arany"></a><br>
                                        <a href="http://mozilla.org/"> <img src="assets/img/sponsors/mozilla.png" alt="Mozilla" title="Mozilla" class="arany"></a><br>
                                        <a href="http://virgo.hu/"> <img src="assets/img/sponsors/virgo-logo134.png" alt="Virgo" title="Virgo" class="arany"></a><br>
                                        <a href="http://emarsys.com/"> <img src="assets/img/sponsors/emarsys_0.png" alt="Emarsys" title="Emarsys" class="arany"></a><br>
                                        <a href="http://pentaschool.hu/"> <img src="assets/img/sponsors/pentaschool.png" alt="Pentaschool" title="Pentaschool" class="arany"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div>
                    A Magyar Webért Egyesület. <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.hu">Nevezd meg!-Így add tovább! 3.0</a>
                </div>
            </div>
        </div>
    </body>
</html>
