            <div id="header-bottom">
                <div id="navigation">
                    <ul class="links primary-links">
                        <li class="{% if page.name == 'helyszin' %} active{% endif %}">
                            <a href="{{site.root}}/helyszin" title="">Helyszín</a>
                        </li>
                        <li class="{% if page.name == 'program' %} active{% endif %}">
                            <a href="{{site.root}}/program" title="">Program</a>
                        </li>
                        <li class="{% if page.name == 'fooldal' %} active{% endif %}" last">
                            <a href="{{site.root}}/" title="" class="active">Főoldal</a>
                        </li>
                    </ul>
                </div>
            </div>